<%- include('partials/header.ejs')%>

    <div class="d-flex justify-content-center">
        <div>
            <h1 style="text-align: center;"><%= title%></h1>
                <div style="text-align: center;font-family:'Times New Roman', Times, serif; font-size:20px;">
                    We are <strong><i>Don’t Look Up(DLU)</i></strong> a group of students from University of North Carolina at Charlotte creating this
                    app to inform and show people about Fireballs.
                    <br>
                    <i>
                        “Fireballs and bolides are astronomical terms for exceptionally bright meteors that are spectacular enough
                        to to be seen over a very wide area.”
                    </i> - CNEOS (Center for Near Earth Object Studies)
                    <br>
    
                    <strong>Sources:</strong>
                    <div>      
                        <ul style="list-style: none;">
                            <li>https://cneos.jpl.nasa.gov/ </li>
                        </ul>
                    </div>
    
            </div>

        </div>
    </div>

    <%- include('partials/footer.ejs')%>