<%- include('partials/header.ejs')%>
<div class="container-md">

    <div class="header">
        <h1>Contact</h1>
    </div>
        <div style="width: 400px; height: 400px; float: left;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#symon">Symon Burchill</a></li>
                <li class="list-group-item"><a href="#brad">Brad King</a></li>
                <li class="list-group-item"><a href="#dixon">Dixon O'Hair</a></li>
                <li class="list-group-item"><a href="#joseph">Joseph Burger</a></li>
                <li class="list-group-item"><a href="#kyla">Kyla Moore</a></li>
              </ul>
        </div>
</div>
    
<%- include('partials/footer.ejs')%>
