<%- include('partials/header.ejs')%>
<div class="d-flex justify-content-center">
    <div style="text-align: center; font-size: 22px;">
        <h2>Hello contact us today!</h2>
        <p>Phone: 704-123-9876</p>
        <p>Email: dontlookup@email.com</p>
    </div>
</div>
    
<%- include('partials/footer.ejs')%>
