<%- include('partials/header.ejs')%>
<div class="p-5">
    
    <div class="header">
        <h1>Who?</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="tab-panel">
                
                <div class="list-group list-group-flush" id="contact-list" role="tablist">
                    <a class="list-group-item list-group-item-action active" href="#symon" role="tab">Symon Burchill</a>
                    <a class="list-group-item list-group-item-action" href="#brad"  role="tab">Brad King</a>
                    <a class="list-group-item list-group-item-action" href="#dixon" role="tab">Dixon O'Hair</a>
                    <a class="list-group-item list-group-item-action" href="#joseph" role="tab">Joseph Burger</a>
                    <a class="list-group-item list-group-item-action" href="#kyla"  role="tab">Kyla Moore</a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-content" id="contact-content">
                <div class="tab-pane fade show active" id="symon" role="tabpanel">
                    <ul class="col-md-5" style="list-style: none;">
                        <strong>Name - </strong> 
                        <li style="margin-left: 2rem;">Symon Burchill</li>
                        <br>
                        <strong>Description of Role - </strong>
                        <li style="margin-left: 2rem;">Lead Font-End/Back-End Developer</li>
                        <br>
                        <strong>Email - </strong>
                        <li style="margin-left: 2rem;">sburchil@uncc.edu</li>
                        <br>
                    </ul>
                    <!-- <img class="col-auto" src="/images/moon.jpg" width="300px" height="300px" alt=""> -->
                </div>
                <div class="tab-pane fade" id="brad" role="tabpanel">
                    <ul style="list-style: none;">
                        <strong>Name - </strong> 
                        <li style="margin-left: 2rem;">Brad King</li>
                        <br>
                        <strong>Description of Role - </strong>
                        <li style="margin-left: 2rem;">Project Manager</li>
                        <br>
                        <strong>Email - </strong>
                        <li style="margin-left: 2rem;"></li>
                        <br>
                    </ul>
                </div>
                <div class="tab-pane fade" id="dixon" role="tabpanel">
                    <ul style="list-style: none;">
                        <strong>Name - </strong> 
                        <li style="margin-left: 2rem;">Dixon O'Hair</li>
                        <br>
                        <strong>Description of Role - </strong>
                        <li style="margin-left: 2rem;">Data Operator</li>
                        <br>
                        <strong>Email - </strong>
                        <li style="margin-left: 2rem;"></li>
                        <br>
                    </ul>
                </div>
                <div class="tab-pane fade" id="joseph" role="tabpanel">
                    <ul style="list-style: none;">
                        <strong>Name - </strong> 
                        <li style="margin-left: 2rem;">Joseph Burger</li>
                        <br>
                        <strong>Description of Role - </strong>
                        <li style="margin-left: 2rem;">Note Taker</li>
                        <br>
                        <strong>Email - </strong>
                        <li style="margin-left: 2rem;"></li>
                        <br>
                    </ul>
                </div>
                <div class="tab-pane fade" id="kyla" role="tabpanel">
                    <ul style="list-style: none;">
                        <strong>Name - </strong> 
                        <li style="margin-left: 2rem;">Kyla Moore</li>
                        <br>
                        <strong>Description of Role - </strong>
                        <li style="margin-left: 2rem;">UI Designer</li>
                        <br>
                        <strong>Email - </strong>
                        <li style="margin-left: 2rem;"></li>
                        <br>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs')%>
<script src="/js/contact.js"></script>