<%- include('partials/header.ejs') %>
  <script src="//unpkg.com/three"></script>
  <script src="//unpkg.com/globe.gl"></script>
  <link rel="stylesheet" href="/css/menu-icon.css">
  </head>
  <%- include('partials/svg.ejs') %>
    <div class="wrapper">
      <div class="content">
        <div id="alerts">

        </div>

        <div class="card" id="canvas-form">
          <div class="d-flex justify-content-end" style="text-decoration: none;" type="button" id="menu-toggle">
            <label class="menu-text" id="menu-text" style="font-size: 15pt;">Menu</label>
            <div id="toggle-icon">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div>
          </div>
        </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMenu">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasMenuLabel">Menu</h5>
          </div>
          <div class="offcanvas-body">
            <form action="" method="GET" id="paramForm">
              <div class="form-group">
                <label for="date-min">Start Date</label>
                <input type="date" class="form-control" id="date-min" name="date-min" min="1988-04-15"
                  max="2022-09-15" value="" />
                <label for="date-max">End Date</label>
                <input type="date" class="form-control" id="date-max" name="date-max" min="1988-04-15"
                  max="2022-09-15" value="" /><small id="date-help"></small>
              </div>
              <hr class="hr">
              <div class="form-group">
                <label><strong><b>Energy</b></strong></label> - <i><small>Positive value in joules x
                    10<sup>10</sup> (e.g., <u>'4'</u> = 4 x 10<sup>10</sup>)</small></i>
                    <br/>
                <label for="energy-min">Min Energy</label>
                <input type="number" class="form-control" id="energy-min" name="energy-min" min="2" max="37500"
                  value="" />
                <label for="energy-max">Max Energy</label>
                <input type="number" class="form-control" id="energy-max" name="energy-max" min="2" max="37500"
                  value="" /><small id="e-help"></small>
              </div>
              <hr class="hr">
              <div class="form-group">
                <label><strong><b>Impact Energy</b></strong></label> - <i><small>Estimated impact energy in
                    positive values of kilotons (kt) (e.g., <u>0.08</u> kt)</small></i><br>
                <label for="impact-e-min">Min Impact Energy</label>
                <input type="number" class="form-control" id="impact-e-min" name="impact-e-min" min="0" max="440"
                  value="" />
                <label for="impact-e-max">Max Impact Energy</label>
                <input type="number" class="form-control" id="impact-e-max" name="impact-e-max" min="0" max="440"
                  value="" /><small id="impact-e-help"></small>
              </div>
              <hr class="hr">
              <div class="form-group">
                <label for="limit"><strong>Limit</strong></label> - <i><small>Number of results to return (e.g.,
                    <u>100</u>)</small></i><input type="number" id="limit-label"></input><br>
                <input type="range" class="form-range" id="limit" name="limit" step="1" />
                <small id="limit-help"></small>
              </div>
              <hr class="hr">
              <div style="float: right; padding-bottom: 1rem;">
                <button type="button" class="btn btn-secondary" id="reset">
                  Reset Data Points
                </button>
                <button type="button" class="btn btn-primary" id="clear">
                  Clear Inputs
                </button>
              </div>
            </form>
          </div>
        </div>

        <!-- main content -->
        <div id="globeViz" class="col"></div>

        <div class="modal fade" id="dataModal">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Fireball Data</h5>
              </div>
              <div class="modal-body">

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="dataClose">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/fireball.js"></script>
    <script src="/js/fireball_form.js"></script>
    <script src="/js/utility.js"></script>
    <%- include('partials/footer.ejs') %>