<%- include('partials/header.ejs') %>
    
    <div class="card">
        <div class="card-header">
            <a id="collapse-btn" href="#collapseForm" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseForm">Form Controls</a>
        </div>
        <div class="card-body collapse" id="collapseForm">
                <form id="fireball-params" class="" action="">
                    <div class="mb-2 row">
                        <label for="start" class="col-sm-1 form-label">Start Date</label>
                        <div class="col-sm-2">
                            <input type="date" class="form-control" id="start" name="start" value="2019-01-01">
                        </div>
                        <label for="end" class="col-sm-1 form-label">End Date</label>
                        <div class="col-sm-2">
                            <input type="date" class="form-control" id="end" name="end" value="2019-12-31">
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-sm-10">
                            <button name="reset" id="reset" class="btn btn-primary" >Reset</button>
                        </div>
                    </div>
                </form>
        </div>
    </div>
            <div id="globeViz" class="col"></div>
    
    
    
        
<%- include('partials/footer.ejs') %>