<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.0/dist/darkly/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//unpkg.com/globe.gl"></script>
    <script src="/js/fireball.js"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <title><%= title %></title>
</head>
<h1 class="text-center" style="z-index:1;"><%= title %></h1>


    <div class="row">
        <div class="col-sm-1">
            <form action="">
                <div class="form-group">
                    <label for="start">Start Date</label>
                    <input type="date" class="form-control" id="start" name="start" value="2019-01-01">
                </div>
            </form>
        </div>
        <div id="globe-container" class="col">
                <div id="globeViz"></div>
        </div>
    </div>


</html>