<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.0/dist/darkly/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//unpkg.com/globe.gl"></script>
    <script src="/js/fireball.js"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <title><%= title %></title>
</head>

    <div class="accordian">
        <div class="card">
            <div class="card-header">
                <a class="nav nav-link" data-toggle="collapse" data-target="#collapseEx" onclick="$('#collapseEx').collapse('show');">Form controls</a>
            </div>
            <div class="card-body">
                <div class="collapse" id="collapseEx">

                </div>
            </div>
        </div>
    </div>
        <div id="globe-container" class="col">
                <div id="globeViz"></div>
        </div>
    </div>


</html>