<%- include('partials/header.ejs') %>
<script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>
</head>

<div id="graphs" style="margin-right: 100px;">
    <div id="graph1">

    </div>
</div>

<script src="/js/graph.js"></script>
<script src="/js/utility.js"></script>
<%- include('partials/footer.ejs') %>
