<%- include('partials/header.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.min.js"></script>
<div id="index-wrapper">
    <div class="d-flex justify-content-center">
      <h1><%= title%> - <%= message%></h1>
    </div>
    <div class="text-center">
      <a type="button" id="click" class="btn btn-dark mr-1" >Go to Data Globe</a>
      <a type="button" class="btn btn-dark ml-1" href="/graphs">Go to Graphs</a>
    </div>
</div>

<script src="/js/spaceBackground.js"></script>
<%- include('partials/footer.ejs') %>