<%- include('partials/header.ejs') %>
<style>

canvas {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
}
</style>



<div class="d-flex justify-content-center">
      <h1><%= title%> - <%= message%></h1>
    </div>
    <div>
    <div class="text-center">
      <a type="button" class="btn btn-dark mr-1" href="/globe/fireball">Go to Data Globe</a>
      <a type="button" class="btn btn-dark ml-1" href="/graphs">Go to Graphs</a>
    </div>

    <canvas id="canvas"></canvas>
    <script src="/js/spaceBackground"></script>
<%- include('partials/footer.ejs') %>