<%- include('partials/header.ejs') %>
    <div class="d-flex justify-content-center">
      <h1><%= title%> - <%= message%></h1>
    </div>
    <div class="text-center">
      <a type="button" class="btn btn-dark mr-1" href="/globe/fireball">Go Data Globe</a>
    </div>
<%- include('partials/footer.ejs') %>