<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.0/dist/darkly/bootstrap.min.css">
  </head>
  <body>
    <div class="d-flex justify-content-center">
      <h1>Welcome to <%= title %></h1>
    </div>
    <div class="text-center">
      <a type="button" class="btn btn-primary mr-1" href="/globe">Go to Globe</a>
      <a type="button" class="btn btn-primary mr-1" href="/globe/newglobe">Go to other globe</a>
      <a type="button" class="btn btn-primary" href="/globe/testglobe">User</a> 
    </div>
  </body>
</html>
