<%- include('partials/header.ejs') %>
<script src="//unpkg.com/globe.gl"></script>
  <div class="wrapper">   
        <div class="content">
            <div class="modal fade" tabindex="-1" role="dialog" id="menuModal">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Options</h5>
                    </div>
                    <div class="modal-body">
                      <form action="" method="get">
                            <div class="form-group">
                                <label for="start">Start Date</label>
                                <input type="date" class="form-control" id="start" name="start" value="">
                                <label for="end">End Date</label>
                                <input type="date" class="form-control" id="end" name="end" value="">
                                <hr class="hr"/>
                            </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" id="reset">Reset Data Points</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            <!-- <nav class="navbar navbar-expand-lg" id="sidebar"> -->
                <div class="container-fluid" id="menu">
                    <button class="btn btn-dark" type="button" id="modalCollapse" >
                        <span>&#9776; Menu</span>
                    </button>
                </div>
            <!-- </nav> -->
            <div id="globeViz" class="col"></div>
        </div>
    </div>
        
    <script type="text/javascript">
        $(document).ready(function () {
            $('#menuModal').modal({
                backdrop: false,
                keyboard: false,
                focus: false
            });
        
            $('#modalCollapse').on('click', function () {
                $('#menuModal').modal('toggle');
            });
        });
    </script>
    <input type="hidden" name="responseJson" id="responseJson" value="<%=responseJson%>"/>

    <script src="/js/extra_fireball.js"></script>
<%- include('partials/footer.ejs') %>