/* html,
body {
  margin: 0px;
  overflow: hidden;
} */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.wrapper-index {
  z-index: 2;
}

#menu {
  position: absolute;
  left: 10px;
  top: 80px;
  width: 300px;
  height: 200px;
  z-index: 2;
}

#modalCollapse {
  width: 130px;
  height: 50px;
}

#menuModal {
  position: absolute;
  left: 22px;
  top: 110px;
  width: 500px;
  /* height: 400px; */
}

#alerts {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 80px;
  opacity: 0.8;
}
#graph-alerts {
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 80px;
  opacity: 0.8;
}
#limit-label {
    position: absolute;
    top: 550px;
    left: 440px;
  width: 35px;
    height: 30px;
  font-size: 11pt;
  text-align: center;
  color: white;
  background-color: inherit;
  border: 0.2px solid gray;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
