
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.wrapper-index {
  z-index: 2;
}

#offcanvasMenu {
  top: 70px;
  width: 550px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

#limit-label {
    /* position: absolute;
    top: 550px;
    left: 440px; */
    float: right;
  width: 35px;
    height: 30px;
  font-size: 11pt;
  text-align: center;
  color: white;
  background-color: inherit;
  border: 0.2px solid gray;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
