/* *{
overflow: hidden;
} */

/* html,
body
{
    height: 100vh;
    font-family: 'Poppins';
} */ 

*{
  color: #ffffff99;

}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

footer {
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  #alerts {
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 80px;
    opacity: 0.8;
  }
  #graph-alerts {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 80px;
    opacity: 0.8;
  }
 
  #graphs > div {
    margin: 10px;
    /* width: 1000px;
    height: 500px; */
  }

  #spaceBackground {
    position:absolute;
    top:0;
    left:0;
    z-index: -1;
}

#controls {
  position: absolute; 
  bottom: 10px;
  left: 10px;
  z-index: 1;
}

#animationControls{
  position: absolute; 
  bottom: 70px;
  left: 10px;
  z-index: 1;
}
#div-scroll {
  padding: 2rem;
}

#div-scroll > div {
  margin-right: 30px;
}

#btnSelect {
  position: absolute; 
  top: 100px;
  left: 300px;
  z-index: 1;
}

#index-wrapper {
  position: absolute; 
  top: 75px;
  left: 0px;
  width: 100%;
  z-index: 1;
}
